.radarsito {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.radarsito img {
  width: 20px;
  height: auto;
  position: absolute;
  margin-right: 110px;
  margin-top: 10px;
}

.configmonitor {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.configmonitor img {
  width: 40px;
  height: auto;
  position: absolute;
  margin-right: 290px;
}

.teamsito {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.teamsito img {
  width: 20px;
  height: auto;
  position: absolute;
  margin-right: 160px;
  margin-top: 11px;
}

.compo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.compo img {
  width: 20px;
  height: auto;
  position: absolute;
  margin-right: 180px;
  margin-top: 10px;
}

.skinsitas {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.skinsitas img {
  width: 30px;
  height: auto;
  position: absolute;
  margin-right: 110px;
  margin-top: 10px;
}

.videito {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.videito img {
  width: 40px;
  height: auto;
  position: absolute;
  margin-right: 240px;
}

.crosshairsito {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.crosshairsito img {
  width: 40px;
  height: auto;
  position: absolute;
  margin-right: 140px;
}

.viewmodelsito {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.viewmodelsito img {
  width: 30px;
  height: auto;
  position: absolute;
  margin-right: 140px;
  margin-top: 5px;
}

.mousito {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.mousito img {
  width: 35px;
  height: auto;
  position: absolute;
  margin-right: 120px;
}

.configcs {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.configcs h2 {
  font-size: 25px;
  font-weight: 600;
}
.configcs img {
  width: 40px;
  height: auto;
  position: absolute;
  margin-right: 200px;
  margin-top: 35px;
}

body a {
  color: black;
  font-size: 18px;
}
body a:hover {
  color: #5c87ff;
}

.player-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  width: 55%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.player-card .player {
  display: flex;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #F2F4F7;
}

.player-details {
  text-align: left;
}

.player-details h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.player-info-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-info-item {
  flex-basis: 50%;
  text-align: left;
}

.player-bio p {
  color: #666;
  font-size: 12px;
}

.mouse-detalles {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  width: 55%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}
.mouse-detalles h6 {
  display: flex;
  font-size: 15px;
}

.mouse-info {
  display: flex;
  align-items: center;
}

.contenedor-mouse {
  display: flex;
  background-color: #F2F4F7;
  border-radius: 5px;
  align-items: center;
  height: 60px;
  cursor: pointer;
  width: 100%;
}
.contenedor-mouse h3 {
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
}

.boton-compra {
  display: grid;
  margin-right: 10px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.boton-logitech {
  background-color: #F2F4F7;
  padding: 5px 20px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 9px;
  cursor: pointer;
  height: 40px;
  font-size: 13px;
}

.boton-de-compra {
  background-color: #3460D8;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  height: 40px;
  font-size: 13px;
}
.boton-de-compra p {
  font-size: 15px;
}

.boton-logitech:hover {
  background-color: #5c87ff;
  color: whitesmoke;
}

.boton-de-compra:hover {
  background-color: #5c87ff;
}

.mouse-details img {
  max-width: 100%;
  width: 40px;
  height: auto;
  margin: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-left: 10px;
}

.mouse-details p {
  margin: 40px;
  justify-content: space-between;
}

.mouse-details h2 {
  display: flex;
  justify-content: center;
}

.mouse-informacion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
}

.crosshair-settings {
  width: 55%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.crosshair-settings h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.setting-item {
  max-width: 100%;
  margin: 10px;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  border-radius: 5px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.setting-item img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.setting-item p {
  margin: 5px 0;
}

.configuraciones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.configuraciones p {
  margin: 10px;
}

.my-button {
  padding: 10px 20px;
  background-color: #3460D8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #5c87ff;
}

.my-button:active {
  background-color: #3460D8;
}

.titulo-izquierda {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-top: 8px;
}

input[type=text] {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #eeeeee;
  font-size: 13px;
}

.viewmodel-menu {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.viewmodel-menu h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.model-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.model-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.model-item p {
  margin: 20px;
}

input .viewmodel-info {
  max-width: 100%;
  margin-top: 20px;
}

.video-settings {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.video-settings h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.video-setting-item {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.video-setting-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.video-setting-item p {
  font-size: 15px;
  margin: 20px;
}

.hud-menu {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.hud-item {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}
.hud-item p {
  margin: 10px;
}

.radar-menu {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.radar-item {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.radar-item p {
  font-size: 15px;
  margin: 20px;
}

.config-menu {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.config-item {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.config-item p {
  font-size: 15px;
  margin: 20px;
}

.config-item {
  display: flex;
  justify-content: center;
}

.skins-settings {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.skins-setting-item {
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.skins-setting-item img {
  background-color: #F2F4F7;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
.skins-setting-item img:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}
.skins-setting-item a {
  font-weight: 800;
  font-size: 15px;
}

.pc-menu {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.pc-item {
  padding: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.pc-item img {
  background-color: #F2F4F7;
  border-radius: 10px;
}
.pc-item a {
  font-weight: bold;
  font-size: 15px;
}
.pc-item img:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

.setup-menu {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.setup-item {
  padding: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.setup-item img {
  background-color: #F2F4F7;
  border-radius: 10px;
}
.setup-item a {
  font-weight: bold;
  font-size: 15px;
}
.setup-item img:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

.monitor-settings {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.monitor-settings h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.monitor-setting-item {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.monitor-setting-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.monitor-setting-item p {
  font-size: 15px;
  margin: 20px;
}

.monitor-info {
  display: flex;
  align-items: center;
}

.monitor-details img {
  max-width: 100%;
  width: 40px;
  height: auto;
  margin: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-left: 10px;
}

.contenedor-monitor {
  display: flex;
  background-color: #F2F4F7;
  border-radius: 5px;
  align-items: center;
  height: 60px;
  cursor: pointer;
  width: 100%;
}
.contenedor-monitor h3 {
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
}

.boton-compra {
  display: grid;
  margin-right: 10px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 40px;
}

.boton-zowie {
  background-color: #F2F4F7;
  padding: 5px 20px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 9px;
  cursor: pointer;
  height: 40px;
  font-size: 13px;
}

.boton-de-compra {
  background-color: #3460D8;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  height: auto;
}
.boton-de-compra p {
  font-size: 15px;
}

.boton-zowie:hover {
  background-color: #5c87ff;
  color: whitesmoke;
}

.boton-de-compra:hover {
  background-color: #5c87ff;
}

.grafica-settings {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grafica-item-setting {
  display: grid;
}
.grafica-item-setting p {
  margin: 20px;
}

.grafica-details img {
  max-width: 100%;
  width: 40px;
  height: auto;
  margin: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-left: 10px;
}

.contenedor-grafica {
  display: flex;
  background-color: #F2F4F7;
  border-radius: 5px;
  align-items: center;
  height: 60px;
  cursor: pointer;
  width: 100%;
}
.contenedor-grafica h3 {
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
}

.boton-compra {
  display: grid;
  margin-right: 10px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 40px;
}

.boton-nvidia {
  padding: 5px 20px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 9px;
  cursor: pointer;
  height: auto;
  font-weight: bold;
}

.boton-de-compra {
  background-color: #3460D8;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  height: auto;
  font-weight: bold;
}
.boton-de-compra p {
  font-size: 15px;
}

.boton-nvidia:hover {
  background-color: #5c87ff;
  color: whitesmoke;
}

.boton-de-compra:hover {
  background-color: #5c87ff;
}

.team-setting-item {
  justify-content: center;
}
.team-setting-item img {
  max-width: 100%;
  width: 190px;
  border-radius: 50%;
  background-color: #F2F4F7;
}

.team-settings {
  max-width: 100%;
  width: 55%;
  margin: 20px auto;
  padding-left: 60px;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.team-setting-item {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.team-setting-item p {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  margin-right: 65px;
}
.team-setting-item h6 {
  display: grid;
  justify-content: center;
  font-size: 13px;
  margin-right: 65px;
}
.team-setting-item img:hover {
  cursor: pointer;
  background-color: #d8d8d8;
  transform: scale(1.1);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .player-card {
    width: 90%;
  }
  .player-info-row p {
    font-size: 13px;
  }
  .player-info-item {
    flex-basis: 50%;
    text-align: left;
  }
  .crosshair-settings {
    width: 90%;
    height: auto;
  }
  .viewmodel-menu {
    width: 90%;
  }
  .video-settings {
    width: 90%;
  }
  .contenedor-monitor h3 {
    font-size: 15px;
  }
  .contenedor-grafica h3 {
    font-size: 15px;
  }
  .hud-menu {
    width: 90%;
  }
  .radar-menu {
    width: 90%;
  }
  .skins-settings {
    width: 90%;
  }
  .config-menu {
    width: 90%;
  }
  .setup-menu {
    width: 90%;
  }
  .mouse-detalles {
    width: 90%;
  }
  .mouse-detalles h3 {
    font-size: 15px;
    justify-content: center;
  }
  .pc-menu {
    width: 90%;
  }
  .monitor-settings {
    width: 90%;
  }
  .grafica-settings {
    width: 90%;
  }
  .team-settings {
    width: 90%;
  }
  .team-setting-item img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    background-color: #F2F4F7;
  }
  .team-setting-item p {
    margin-right: 10px;
    display: grid;
    justify-content: center;
    place-items: center;
  }
  .team-setting-item h6 {
    margin-right: 5px;
    display: grid;
    justify-content: center;
    font-size: 13px;
  }
  .footer-column h4 {
    display: grid;
    justify-content: center;
  }
  .radarsito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .radarsito img {
    width: 20px;
    height: auto;
    position: absolute;
    margin-right: 110px;
    margin-top: 10px;
  }
  .configmonitor {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .configmonitor img {
    width: 30px;
    height: auto;
    position: absolute;
    margin-right: 370px;
    margin-top: 5px;
  }
  .teamsito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .teamsito img {
    width: 20px;
    height: auto;
    position: absolute;
    margin-right: 200px;
    margin-top: 12px;
  }
  .compo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .compo img {
    width: 20px;
    height: auto;
    position: absolute;
    margin-right: 220px;
    margin-top: 12px;
  }
  .skinsitas {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .skinsitas img {
    width: 30px;
    height: auto;
    position: absolute;
    margin-right: 110px;
    margin-top: 10px;
  }
  .videito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .videito img {
    width: 30px;
    height: auto;
    position: absolute;
    margin-right: 290px;
    margin-top: 5px;
  }
  .crosshairsito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .crosshairsito img {
    width: 30px;
    height: auto;
    position: absolute;
    margin-right: 150px;
    margin-top: 8px;
  }
  .viewmodelsito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .viewmodelsito img {
    width: 20px;
    height: auto;
    position: absolute;
    margin-right: 170px;
    margin-top: 10px;
  }
  .mousito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .mousito img {
    width: 25px;
    height: auto;
    position: absolute;
    margin-right: 100px;
    margin-top: 2px;
  }
}
@media (max-width: 768px) {
  .player-card {
    width: 90%;
    display: grid;
    height: auto;
    place-content: center;
  }
  .player-card .player {
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    margin: 0 auto;
  }
  .player-info-row p {
    font-size: 14px;
  }
  .player-details h1 {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .mouse-informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .mouse-details {
    height: auto;
    width: 100%;
  }
  .mouse-details img {
    display: flex;
    max-width: 100%;
    width: 130px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    background-color: #F2F4F7;
  }
  .titulo-izquierda {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .contenedor-mouse {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .boton-compra {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-bottom: 100px;
    margin-left: 10px;
  }
  .boton-logitech {
    background-color: #F2F4F7;
    padding: 5px 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
  }
  .boton-de-compra {
    background-color: #3460D8;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
  }
  .mouse-detalles {
    width: 90%;
  }
  .mouse-detalles h3 {
    font-weight: bold;
    font-size: 11px;
    justify-content: center;
    place-content: center;
    align-items: center;
  }
  .mousito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .mousito img {
    width: 25px;
    height: auto;
    position: absolute;
    margin-right: 70px;
    margin-bottom: 2px;
  }
  .crosshair-settings {
    width: 90%;
  }
  .viewmodel-menu {
    width: 90%;
  }
  .video-settings {
    width: 90%;
  }
  .grafica-settings {
    width: 90%;
  }
  .grafica-settings img {
    display: flex;
    max-width: 100%;
    width: 130px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    background-color: #F2F4F7;
  }
  .grafica-settings h3 {
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    place-content: center;
    align-items: center;
  }
  .contenedor-grafica {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .boton-compra {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-bottom: 100px;
    margin-left: 10px;
  }
  .boton-nvidia {
    background-color: #F2F4F7;
    padding: 5px 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
  }
  .boton-de-compra {
    background-color: #3460D8;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
  }
  .video-setting-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .video-setting-item p {
    font-size: 10px;
  }
  .video-setting-item img {
    justify-content: center;
  }
  .viewmodel-menu {
    width: 90%;
  }
  .hud-menu {
    width: 90%;
  }
  .radar-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .radar-item p {
    font-size: 10px;
  }
  .radar-menu {
    width: 90%;
  }
  .skins-settings {
    width: 90%;
  }
  .config-menu {
    width: 90%;
  }
  .setup-menu {
    width: 90%;
  }
  .monitor-settings {
    width: 90%;
  }
  .monitor-settings h3 {
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    place-content: center;
    align-items: center;
  }
  .monitor-settings img {
    display: flex;
    max-width: 100%;
    width: 130px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    background-color: #F2F4F7;
  }
  .contenedor-monitor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .boton-compra {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-bottom: 100px;
    margin-left: 10px;
  }
  .boton-zowie {
    background-color: #F2F4F7;
    padding: 5px 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
  }
  .boton-de-compra {
    background-color: #3460D8;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
  }
  .team-settings {
    width: 90%;
  }
  .pc-menu {
    width: 90%;
  }
  .skins-setting-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .pc-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .setup-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .monitor-setting-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .monitor-setting-item p {
    font-size: 10px;
  }
  .team-setting-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .team-setting-item img {
    width: 80px;
    height: auto;
  }
  .team-setting-item p {
    display: grid;
    justify-content: center;
    place-items: center;
    margin-top: 10px;
  }
  .team-setting-item h6 {
    display: grid;
    justify-content: center;
    place-items: center;
    font-size: 13px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .mouse-detalles h3 {
    display: flex;
    justify-content: center;
  }
  .contenedor-mouse .nombre-mouse {
    font-size: 13px;
    justify-content: start;
  }
  .contenedor-monitor .nombre-monitor {
    font-size: 13px;
    justify-content: start;
  }
  .contenedor-grafica h3 {
    font-size: 13px;
    justify-content: start;
  }
  .titulo-izquierda {
    font-size: 15px;
  }
  .team-setting-item {
    justify-content: center;
  }
  .team-setting-item img {
    max-width: 120px;
    border-radius: 50%;
    background-color: #F2F4F7;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #D7DCE2;
}

.crosshair-personalizado {
  cursor: crosshair;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.header-txt {
  margin-left: 250px;
}

.header div img {
  display: flex;
  width: 110px;
  margin-bottom: 40px;
}

.header {
  background-image: url(../img/VALORANT-WALLPAPER.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 100px 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cslogo-cursor {
  cursor: pointer;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 15px;
  padding: 30px;
  color: rgb(255, 255, 255);
  border: #ffffff;
  display: flex;
  font-weight: bold;
}

.menu .navbar ul li a:hover {
  color: #5c87ff;
}

#menu {
  display: none;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
}

.header-txt {
  flex-basis: 40%;
}

.header-txt h1 {
  font-size: 35px;
  color: #132037;
  line-height: 1.3;
  margin-bottom: 25px;
}

.header-txt p {
  font-size: 17px;
  color: #132037;
  margin-bottom: 45px;
}

.butons {
  display: flex;
}

.video {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.video::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.como-disparar, .mejorar-aim, .counter-stafe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popular {
  padding: 20px 0;
  text-align: center;
}

.popular-content {
  max-width: 100%;
  margin: 0px 10% 0px 10%;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3;
  margin: 0px 500px 0px 500px;
}

.popular-content-gamesense {
  display: flex;
  text-align: center;
}

.titulo {
  text-align: center;
  padding-top: 40px;
}

.slider-box {
  width: 1280px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
}

.textos-gamesense {
  display: flex;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.texto {
  position: absolute;
  text-align: center;
  padding: 0 250px;
  top: 250px;
}

.texto h2 {
  font-size: 45px;
  margin-bottom: 35px;
}

.slider-box img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.crosshair-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4;
  gap: 30px;
  margin: 30px;
}

.product-miras-valo {
  background-color: #F2F4F7;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
  cursor: pointer;
  margin-left: 30%;
  max-width: 190px;
}

.product-1:hover {
  background-color: #d8d8d8;
}

.imagen1-guia, .imagen2-guia, .imagen3-guia {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 950px;
  margin: 0 auto;
}
.imagen1-guia img, .imagen2-guia img, .imagen3-guia img {
  justify-content: center;
}

.banderas {
  margin-top: 6px;
  float: right;
  max-width: 100%;
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.team {
  margin-left: 5px;
  float: right;
  max-width: 100%;
  width: 20px;
  height: auto;
  border-radius: 3px;
}

.setting-item {
  max-width: 100%;
  background-image: url(../img/background-crosshair-cs.png);
}

.contenedor {
  position: relative;
}

.valo-logo {
  max-width: 100%;
  position: absolute;
  top: 190px;
  left: 70px;
  width: 35px;
  height: auto;
  background-color: red;
  border-radius: 5px;
  z-index: 2;
  border: 2px solid white;
}

.contenedor2 {
  position: relative;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
  gap: 15px;
  justify-content: center;
}

.product-1 {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  height: auto;
}
.product-1 a {
  font-weight: bold;
}
.product-1 p {
  display: grid;
  justify-content: center;
}
.product-1 h3 {
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
}

.product-txt h3 {
  display: grid;
  justify-content: center;
}

.product-miras-valo:hover {
  background-color: #d8d8d8;
}

.cs-2 {
  max-width: 100%;
  position: absolute;
  top: 190px;
  left: 85px;
  width: 35px;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
  transition: transform 0.2s ease;
  z-index: 1;
}

.cs-2:hover {
  transform: translate(13px);
}

.top-jugadores {
  margin-bottom: 60px;
}

.btn-2 {
  display: flex;
  text-align: center;
  align-items: center;
  color: #000000;
  font-size: 20px;
}

.contenedor {
  display: grid;
  justify-content: center;
}

.miras {
  max-width: 100%;
  display: grid;
  background-image: url(../img/background-crosshair.png);
  width: 100%;
  justify-content: center;
  place-items: center;
  margin-top: 10px;
}

.jugadores {
  display: grid;
  border-radius: 50%;
  background-color: #F2F4F7;
  margin: 0px 5px 0px 2px;
  margin-top: 10px;
  margin-left: 5px;
  max-width: 190px;
  justify-content: center;
}

.product-txt {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {
  text-align: left;
  max-width: 100%;
  width: 67%;
  margin: 0 auto;
  font-size: 20px;
  color: black;
  margin-bottom: 40px;
}

h4 {
  text-align: left;
  max-width: 100%;
  width: 67%;
  margin: 0 auto;
  font-size: 15px;
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.titulo-gamesense {
  margin-top: 200px;
}

.contact {
  padding: 150px 300px;
}

.contact-content {
  max-width: 1920px;
  margin: auto;
}

.mapas {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapas img {
  width: 68%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bec3c9;
  background: linear-gradient(to top, #333, transparent);
}

.link ul {
  display: flex;
}

.link ul li a {
  font-size: 17px;
  color: #000000;
  margin-right: 20px;
}

.link ul li a:hover {
  color: #5c87ff;
}

.textos-mapas h4 {
  flex-basis: 40%;
}
.textos-mapas h3 {
  justify-content: center;
}

.footer {
  margin-top: 30px;
  padding: 50px 0;
  display: grid;
  justify-content: center;
  text-align: center;
}
.footer img {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  height: auto;
}

.footer h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: #ccc;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  font-size: 20px;
}

.footer ul li i {
  margin-right: 10px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
}
.footer-columns li i {
  color: whitesmoke;
}
.footer-columns ul h5 li a {
  color: whitesmoke;
}

.social-icons li a:hover {
  color: #5c87ff;
}

.footer-column {
  padding: 0 15px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    position: absolute;
    transform: translateY(-5%);
  }
  .video {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 40px;
  }
  .header {
    min-height: 20vh;
    padding: 80px 30px 50px 30px;
  }
  .header-txt {
    flex-basis: 60%;
    margin: 10px;
  }
  .como-disparar, .mejorar-aim, .counter-stafe {
    width: 80%;
    height: 80%;
    margin-left: 85px;
    top: 0;
    left: 0;
  }
  .header-txt a {
    display: grid;
    justify-content: center;
  }
  .header-txt h1 {
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .titulo-gamesense, .titulo-mejorar-aim, .texto-explicativo {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  h3 {
    font-size: 25px;
    display: flex;
    text-align: left;
  }
  h4 {
    font-size: 15px;
    display: flex;
  }
  .slider-box {
    width: 80%;
    position: relative;
  }
  .crosshair-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    gap: 30px;
    margin: 30px;
  }
  .product-miras-valo {
    background-color: #c9c9c9;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
    cursor: pointer;
    margin-left: 20px;
    max-width: 190px;
  }
  .product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    gap: 30px;
    margin: 30px;
  }
  .product-1 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
    cursor: pointer;
    margin-left: 20px;
    max-width: 190px;
    display: grid;
    justify-content: center;
  }
  .product-1 p {
    display: grid;
    justify-content: center;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    z-index: 1000;
    transition: 1.3s ease;
    display: none;
    transform: translateY(-5%);
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .menu .navbar ul li a:hover {
    color: #5c87ff;
  }
  .menu .navbar ul li {
    width: 80%;
  }
  .mapas img {
    max-width: 100%;
    width: 80%;
  }
  .mapascs2 img {
    max-width: 100%;
    width: 80%;
  }
  .imagen1-guia, .imagen2-guia, .imagen3-guia {
    width: 80%;
  }
  .btn-2 {
    display: grid;
    justify-content: center;
  }
  .textos-gamesense {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .slider-box {
    width: 80%;
  }
  .header-txt {
    margin-left: 250px;
  }
  .header-txt h1 {
    font-size: 25px;
  }
  .titulo-gamesense, .titulo-mejorar-aim, .titulo-strafe {
    font-size: 30px;
  }
  .header {
    min-height: 10vh;
    padding: 80px 30px 50px 30px;
  }
  .header-txt {
    flex-basis: 60%;
    margin: 5px;
  }
  .header-txt h1 {
    flex-basis: 100%;
    margin: 10px;
  }
  h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  h3 {
    font-size: 25px;
    display: flex;
    text-align: left;
  }
  h4 {
    font-size: 15px;
    display: flex;
  }
  p {
    font-size: 14px;
  }
  .product-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6;
    gap: 10px;
    margin: 30px;
    justify-content: center;
  }
  .product-1 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
    cursor: pointer;
    margin-left: 20px;
    max-width: 190px;
    display: grid;
    justify-content: center;
  }
  .product-1 p {
    display: grid;
    justify-content: center;
  }
  .crosshair-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4;
    gap: 10px;
    margin: 30px;
  }
  .product-miras-valo {
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
    cursor: pointer;
    margin-left: 20px;
    max-width: 190px;
  }
  .mapas img {
    max-width: 100%;
    width: 80%;
  }
  .mapascs2 img {
    max-width: 100%;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .mapas img {
    max-width: 100%;
    width: 80%;
  }
  .mapascs2 img {
    max-width: 100%;
    width: 80%;
  }
  .menu label {
    display: initial;
  }
  .slider-box {
    width: 80%;
  }
  .menu {
    padding: 10px;
  }
  .accordion-btn {
    font-size: 15px;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    z-index: 1000;
    transition: 1.3s ease;
    display: none;
    transform: translateY(-16%);
  }
  .video {
    max-width: 100%;
    width: 100%;
  }
  .menu-icono {
    width: 1px;
    height: auto;
  }
  .menu .navbar ul li a:hover {
    color: #5c87ff;
  }
  .menu .navbar ul li {
    width: 60%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header {
    padding: 40px 30px 50px 30px;
  }
  .header-txt {
    flex-basis: 60%;
    margin: 10px;
  }
  .header-txt h1 {
    margin-top: 80px;
    font-size: 15px;
  }
  .header-txt p {
    font-size: 12px;
  }
  .product {
    padding: 30px;
  }
  .product-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6;
    gap: 10px;
    margin: 5px;
    justify-content: center;
  }
  .product-1 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
    cursor: pointer;
    margin-left: 10px;
    max-width: 190px;
    display: grid;
    justify-content: center;
  }
  .product-1 p {
    display: grid;
    justify-content: center;
  }
  .crosshair-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6;
    gap: 10px;
    margin: 30px;
  }
  .product-miras-valo {
    background-color: #c9c9c9;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(121, 121, 121, 0.3);
    cursor: pointer;
    margin-left: 3px;
    max-width: 190px;
  }
  .jugadores {
    max-width: 100%;
    width: 140px;
  }
  .cs-2 {
    max-width: 100%;
    position: absolute;
    top: 140px;
    left: 60px;
    width: 30px;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    transition: transform 0.2s ease;
    z-index: 1;
  }
  .valo-logo {
    max-width: 100%;
    position: absolute;
    top: 140px;
    left: 50px;
    width: 30px;
    height: auto;
    background-color: red;
    border-radius: 5px;
    transition: transform 0.2s ease;
    z-index: 2;
    border: 2px solid white;
  }
  h2 {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  h3 {
    font-size: 10px;
    display: flex;
    text-align: left;
  }
  h4 {
    font-size: 10px;
    display: flex;
  }
  .titulo-gamesense, .titulo-mejorar-aim, .titulo-strafe {
    font-size: 20px;
  }
  .como-disparar, .mejorar-aim, .counter-stafe {
    display: flex;
    width: 80%;
    height: 80%;
    margin-left: 45px;
  }
  p {
    font-size: 10px;
  }
  .imagen1-guia, .imagen2-guia, .imagen3-guia {
    width: 80%;
  }
  .textos-gamesense h4 {
    width: 80%;
  }
  .product-txt {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
  }
  .contenedor-icono-menu {
    width: 40px;
  }
  .contenedor {
    display: grid;
    justify-content: center;
    place-items: center;
  }
  .miras {
    max-width: 100%;
    display: grid;
    background-image: url(../img/background-crosshair.png);
    width: 100%;
    place-items: center;
    justify-content: center;
  }
  .contact {
    padding: 40px;
  }
  .footer {
    padding: 50px 0;
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .footer h4 {
    color: #fff;
    font-size: 18px;
    justify-content: center;
    text-align: center;
  }
  .footer p {
    font-size: 10px;
    color: #e9e9e9;
  }
  .footer ul {
    list-style: none;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    font-size: 10px;
  }
  .social-icons li a {
    color: #e9e9e9;
    font-size: 15px;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
  }
  .footer-column {
    padding: 0 15px;
  }
  .textos-mapas h4 {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
